body {
    font-family: Arial, sans-serif;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(58, 57, 57, 0.95);
}

.form-container.login h1 {
    color: #FF00AF;
}

.form-container.register h1,
.form-container.register label {
    color: white;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
    color: white;
}

.form-row input {
    width: 40%;
    padding: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-row .error {
    width: 40%;
    margin-left: 10px;
    color: red;
    font-size: 12px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-actions button {
    padding: 4px 6px;
    border: 2px solid white;
    background-color: #FF00AF;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.switch {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.btn-create,
.btn-login {
    color: #FF00AF;
    text-decoration: none;
}

.main-title {
    font-size: 92px;
    font-weight: normal;
    color: #FF00AF;
}
